@use '_functions' as func;
@use '_mixins' as *;

@layer doublee-common {
	html {
		font-size: var(--font-size-base);
	}

	body {
		-webkit-font-smoothing: subpixel-antialiased;
		-webkit-text-size-adjust: 100%;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: geometricPrecision;
		color: var(--color-body-text);
		font: var(--font-body);
		line-height: var(--line-height-base);
		--letter-spacing: body; // extra var needed for style queries by child elements
	}

	[data-typography-mode="docs"] {
		font: var(--font-body);
		line-height: var(--line-height-base);
		font-size-adjust: ex-height 0.53;
	}

	@container style(--letter-spacing: body) {
		letter-spacing: var(--letter-spacing-body);
	}

	* {
		@container style(--background-color: dark) {
			background: var(--color-dark);
			color: white;
			font-weight: var(--font-weight-light);
		}
	}

	h1, h2, h3, h4, h5, h6, p, ul, li {
		margin: 0;
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		--letter-spacing: normal;
		font-weight: var(--font-weight-semibold);
		letter-spacing: 0;

		&:first-child {
			margin-block-start: 0;
		}

		span {
			font-weight: var(--font-weight-normal);
		}
	}

	h1, h2 {
		margin-block-end: var(--spacing-sm);
	}

	h3, h4, h5, h6 {
		margin-block: var(--spacing-xs);
	}

	h1 {
		font: var(--font-xxl);
	}

	h2 {
		font: var(--font-xl);
		margin-block-start: var(--spacing-xl);

		@container style(--background-color: dark) {
			font-weight: var(--font-weight-medium);
		}
	}

	h3 {
		font: var(--font-lg);
		font-weight: var(--font-weight-medium);
		margin-block-start: var(--spacing-lg);
	}

	h4, h5, h6 {
		font: var(--font-md);
		font-size: var(--font-size-base);
	}

	strong {
		font-weight: var(--font-weight-bold);

		@container style(--letter-spacing: body) {
			letter-spacing: var(--letter-spacing-tight);
		}
	}

	p, ul, ol {
		margin-block: var(--spacing-md);
	}

	ul, ol {
		margin-inline-start: var(--spacing-md);
	}

	a, button {
		text-decoration: underline;
		transition: all 0.2s ease-in-out;

		&:hover, &:focus, &:active {
			text-decoration-color: currentColor;
		}
	}

	a {
		color: currentColor;

		&:hover, &:focus, &:active {
			color: var(--color-accent);
		}
	}

	button {
		font: var(--font-labels);
		background: var(--color-light);
		padding: var(--spacing-sm) var(--spacing-md);
		line-height: 1;
		border: 1px solid #{func.darken(light, 10%)};
		border-radius: var(--border-radius-sm);
		display: inline-flex;
		gap: var(--spacing-xs);
		align-items: center;
		cursor: pointer;
		text-decoration-color: transparent;

		svg {
			height: 1em;
			width: auto;
		}

		&:hover, &:focus, &:active {
			background: #{func.darken(light, 5%)};
		}
	}

	pre, code,
	textarea:has(+ pre) {
		background: var(--color-light);
		font-family: var(--font-family-code);
		font-size-adjust: ex-height 0.45;
		display: inline-block;
		padding-inline: var(--spacing-xxs);
		line-height: 1.1;
		letter-spacing: 0;
	}

	blockquote {
		@include blockquote-base;
	}

	figure {
		margin: var(--spacing-lg) 0;

		figcaption {
			font: var(--font-captions);
			color: var(--color-body-text-muted);
			text-align: center;
			margin-block-start: var(--spacing-sm);
		}

		&:has(> blockquote) {
			@include blockquote-base;

			blockquote {
				border: 0;
				margin: 0;
				padding-block: 0;
				margin-block-end: var(--spacing-xs);

				&:before, &:after {
					content: none;
				}
			}
		}
	}

	hr {
		color: var(--color-body-text-muted);
		opacity: 0.4;
		margin: var(--spacing-lg) 0;
	}

	mfrac {
		font-feature-settings: "frac";
	}
}