@layer doublee-tokens {
  :root {
    --font-family-body: 'Berkeley Old Style', 'Californian FB', Georgia, serif;
    --font-family-headings: 'Copernicus New Cond', sans-serif;
    --font-family-accent: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-family-labels: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-family-code: 'Fira Code', Consolas, system-ui-monospace, monospace;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-base: 1.6;
    --line-height-headings: 1.2;
    --letter-spacing-body: -0.01em;
    --letter-spacing-tight: -0.02em;
    --typescale: 1.2;
    --spacing-step-size: 3;
  }
  @media (min-width: 768px) {
    :root {
      --typescale: 1.25;
    }
  }
  :root {
    --font-size-base: 1rem;
  }
  @media (min-width: 1024px) {
    :root {
      --font-size-base: calc(17 / 16 * 100%);
    }
  }
  :root {
    --font-size-sm: 0.9rem;
    --font-size-body: 1rem;
    --font-size-md: calc(1rem * pow(var(--typescale), 1));
    --font-size-lg: calc(1rem * pow(var(--typescale), 2));
    --font-size-xl: calc(1rem * pow(var(--typescale), 3));
    --font-size-xxl: calc(1rem * pow(var(--typescale), 4));
    --font-size-display: calc(1rem * pow(var(--typescale), 6));
    --font-sm: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --font-body: var(--font-weight-normal) var(--font-size-body) var(--font-family-body);
    --font-md: var(--font-weight-medium) var(--font-size-md)/var(--line-height-headings) var(--font-family-accent);
    --font-lg: var(--font-weight-semibold) var(--font-size-lg)/var(--line-height-headings) var(--font-family-headings);
    --font-xl: var(--font-weight-semibold) var(--font-size-xl)/var(--line-height-headings) var(--font-family-headings);
    --font-xxl: var(--font-weight-semibold) var(--font-size-xxl)/var(--line-height-headings) var(--font-family-headings);
    --font-display: var(--font-weight-semibold) var(--font-size-display)/var(--line-height-headings) var(--font-family-headings);
    --font-labels: var(--font-weight-medium) var(--font-size-sm) var(--font-family-labels);
    --font-captions: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --spacing-xs: calc(1rem / pow(var(--typescale), 2 * var(--spacing-step-size)));
    --spacing-sm: calc(1rem / pow(var(--typescale), 1 * var(--spacing-step-size)));
    --spacing-md: 1rem;
    --spacing-lg: calc(1rem * pow(var(--typescale), 1 * var(--spacing-step-size)));
    --spacing-xl: calc(1rem * pow(var(--typescale), 2 * var(--spacing-step-size)));
    --spacing-xxl: calc(1rem * pow(var(--typescale), 3 * var(--spacing-step-size)));
    --border-radius-sm: var(--spacing-xs);
    --border-radius-md: var(--spacing-sm);
    --border-radius-round: 100px;
    --color-primary: #502595;
    --color-secondary: #845ec2;
    --color-accent: #b01b87;
    --color-info: #24a8e1;
    --color-warning: #ffc75f;
    --color-success: #0abfa0;
    --color-error: #ff775f;
    --color-light: ghostwhite;
    --color-dark: color-mix(in srgb, var(--color-primary) 40%, black);
    --color-white: #ffffff;
    --color-body-text: #181825;
    --color-body-text-muted: oklch(from color-mix(in srgb, var(--color-body-text) 85%, gray 15%) calc(l + 0.35) calc(c * 0.8) calc(h));
    --gradient-primary-secondary: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-secondary) 50%);
    --gradient-primary-accent: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-accent) 50%);
    --gradient-primary-light: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-light) 50%);
    --gradient-primary-dark: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-dark) 50%);
    --gradient-primary-white: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-white) 50%);
    --gradient-secondary-primary: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-primary) 50%);
    --gradient-secondary-accent: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-accent) 50%);
    --gradient-secondary-light: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-light) 50%);
    --gradient-secondary-dark: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-dark) 50%);
    --gradient-secondary-white: linear-gradient(to bottom, var(--color-secondary) 50%, var(--color-white) 50%);
    --gradient-accent-primary: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-primary) 50%);
    --gradient-accent-secondary: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-secondary) 50%);
    --gradient-accent-light: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-light) 50%);
    --gradient-accent-dark: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-dark) 50%);
    --gradient-accent-white: linear-gradient(to bottom, var(--color-accent) 50%, var(--color-white) 50%);
    --gradient-light-primary: linear-gradient(to bottom, var(--color-light) 50%, var(--color-primary) 50%);
    --gradient-light-secondary: linear-gradient(to bottom, var(--color-light) 50%, var(--color-secondary) 50%);
    --gradient-light-accent: linear-gradient(to bottom, var(--color-light) 50%, var(--color-accent) 50%);
    --gradient-light-dark: linear-gradient(to bottom, var(--color-light) 50%, var(--color-dark) 50%);
    --gradient-light-white: linear-gradient(to bottom, var(--color-light) 50%, var(--color-white) 50%);
    --gradient-dark-primary: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-primary) 50%);
    --gradient-dark-secondary: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-secondary) 50%);
    --gradient-dark-accent: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-accent) 50%);
    --gradient-dark-light: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-light) 50%);
    --gradient-dark-white: linear-gradient(to bottom, var(--color-dark) 50%, var(--color-white) 50%);
    --gradient-white-primary: linear-gradient(to bottom, var(--color-white) 50%, var(--color-primary) 50%);
    --gradient-white-secondary: linear-gradient(to bottom, var(--color-white) 50%, var(--color-secondary) 50%);
    --gradient-white-accent: linear-gradient(to bottom, var(--color-white) 50%, var(--color-accent) 50%);
    --gradient-white-light: linear-gradient(to bottom, var(--color-white) 50%, var(--color-light) 50%);
    --gradient-white-dark: linear-gradient(to bottom, var(--color-white) 50%, var(--color-dark) 50%);
  }
  [data-typography-mode=docs] {
    --font-family-headings: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-family-body: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
    --font-body: var(--font-weight-normal) var(--font-size-body) var(--font-family-body);
    --font-md: var(--font-weight-medium) var(--font-size-body) var(--font-family-accent);
    --font-lg: var(--font-weight-semibold) var(--font-size-md) var(--font-family-headings);
    --font-xl: var(--font-weight-semibold) var(--font-size-lg) var(--font-family-headings);
    --font-xxl: var(--font-weight-semibold) var(--font-size-xl) var(--font-family-headings);
  }
}

/*# sourceMappingURL=doublee-tokens.css.map */
