@charset "UTF-8";
@font-face {
  font-family: "Copernicus New Cond";
  src: url("https://doublee.dev/fonts/CopernicusNewCond-130.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Copernicus New Cond";
  src: url("https://doublee.dev/fonts/CopernicusNewCond-110.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("https://doublee.dev/fonts/PPNeueMontreal-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  /*! Custom adjustments to suit the combination of fonts */
  ascent-override: 85%;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("https://doublee.dev/fonts/PPNeueMontreal-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  /*! Custom adjustments to suit the combination of fonts */
  ascent-override: 85%;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("https://doublee.dev/fonts/PPNeueMontreal-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  /*! Custom adjustments to suit the combination of fonts */
  ascent-override: 85%;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("https://doublee.dev/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  /*! Custom adjustments to suit the combination of fonts */
  ascent-override: 85%;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("https://doublee.dev/fonts/PPNeueMontreal-SemiBold.woff2") format("woff2");
  font-weight: 600 700;
  font-style: normal;
  /*! Custom adjustments to suit the combination of fonts */
  ascent-override: 85%;
}
@font-face {
  font-family: "Fira Code";
  font-weight: 300;
  src: url("https://doublee.dev/fonts/FiraCode-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  src: url("https://doublee.dev/fonts/FiraCode-Regular.woff2") format("woff2");
}
/**
 * @license
 * MyFonts Webfont Build ID 3867246, 2020-12-16T11:57:38-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: ITC Berkeley Old Style Pro Book Italic by ITC
 * URL: https://www.myfonts.com/collections/itc-foundry

 * Webfont: ITC Berkeley Old Style Pro Book by ITC
 * URL: https://www.myfonts.com/collections/itc-foundry

 * Webfont: ITC Berkeley Old Style Pro Bold by ITC
 * URL: https://www.myfonts.com/collections/itc-foundry

 * © 2026 MyFonts Inc. */
@font-face {
  font-family: "Berkeley Old Style";
  src: local("BerkeleyPro-Book"), url("https://doublee.dev/fonts/BerkeleyOldStyleBook.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 400;
  /*! Custom adjustments to suit the combination of fonts */
  size-adjust: 115%;
}
@font-face {
  font-family: "Berkeley Old Style";
  font-style: italic;
  font-weight: 300 400;
  src: local("BerkeleyPro-BookItalic"), url("https://doublee.dev/fonts/BerkeleyOldStyleBookItalic.woff2") format("woff2");
  /*! Custom adjustments to suit the combination of fonts */
  size-adjust: 115%;
}
@media screen and (min-resolution: 150dpi) {
  @font-face {
    font-family: "Berkeley Old Style";
    src: local("BerkeleyPro-Medium"), url("https://doublee.dev/fonts/BerkeleyOldStyleMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    /*! Custom adjustments to suit the combination of fonts */
    size-adjust: 115%;
  }
  @font-face {
    font-family: "Berkeley Old Style";
    font-style: italic;
    font-weight: 400;
    src: local("BerkeleyPro-MediumItalic"), url("https://doublee.dev/fonts/BerkeleyOldStyleMediumItalic.woff2") format("woff2");
    /*! Custom adjustments to suit the combination of fonts */
    size-adjust: 115%;
  }
}
@font-face {
  font-family: "Berkeley Old Style";
  font-weight: 600 700;
  src: local("BerkeleyPro-Bold"), url("https://doublee.dev/fonts/BerkeleyOldStyleBold.woff2") format("woff2");
  /*! Custom adjustments to suit the combination of fonts */
  size-adjust: 115%;
}

/*# sourceMappingURL=doublee-fonts.css.map */
