@layer doublee-tokens {
  :root {
    --font-family-body: "Berkeley Old Style", "Californian FB", Georgia, serif;
    --font-family-headings: "Copernicus New Cond", sans-serif;
    --font-family-accent: "Neue Montreal", "Neue Helvetica", Helvetica, Arial, sans-serif;
    --font-family-labels: "Neue Montreal", "Neue Helvetica", Helvetica, Arial, sans-serif;
    --font-family-code: "Fira Code", Consolas, system-ui-monospace, monospace;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-base: 1.6;
    --line-height-headings: 1.2;
    --typescale: 1.2;
    --font-size-base: 1rem;
    --font-size-sm: 0.9rem;
    --font-size-body: 1rem;
    --font-size-md: calc(1rem * var(--typescale));
    --font-size-lg: calc(calc(1rem * var(--typescale)) * var(--typescale));
    --font-size-xl: calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-size-xxl: calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-size-display: calc(calc(calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-sm: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --font-body: var(--font-weight-normal) var(--font-size-body) var(--font-family-body);
    --font-md: var(--font-weight-medium) var(--font-size-md)/var(--line-height-headings) var(--font-family-accent);
    --font-lg: var(--font-weight-semibold) var(--font-size-lg)/var(--line-height-headings) var(--font-family-headings);
    --font-xl: var(--font-weight-semibold) var(--font-size-xl)/var(--line-height-headings) var(--font-family-headings);
    --font-xxl: var(--font-weight-semibold) var(--font-size-xxl)/var(--line-height-headings) var(--font-family-headings);
    --font-display: var(--font-weight-semibold) var(--font-size-display)/var(--line-height-headings) var(--font-family-headings);
    --font-labels: var(--font-weight-medium) var(--font-size-sm) var(--font-family-labels);
    --font-captions: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --spacing-xxs: calc(calc(calc(calc(calc(calc(1rem / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale));
    --spacing-xs: calc(calc(calc(calc(1rem / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale));
    --spacing-sm: calc(calc(1rem / var(--typescale)) / var(--typescale));
    --spacing-md: 1rem;
    --spacing-lg: calc(calc(1rem * var(--typescale)) * var(--typescale));
    --spacing-xl: calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --spacing-xxl: calc(calc(calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --border-radius-sm: var(--spacing-xs);
    --border-radius-md: var(--spacing-sm);
    --border-radius-round: 100px;
    --color-primary: #845ec2;
    --color-secondary: #0abfa0;
    --color-accent: #c92c5a;
    --color-info: #24a8e1;
    --color-warning: #ffc75f;
    --color-success: #0abfa0;
    --color-error: #ff775f;
    --color-light: ghostwhite;
    --color-dark: color-mix(in srgb, var(--color-primary) 40%, black);
    --color-white: #ffffff;
    --color-body-text: #181825;
    --color-body-text-muted: oklch(from color-mix(in srgb, var(--color-body-text) 85%, gray 15%) calc(l + 0.35) calc(c * 0.8) calc(h));
  }
  @media (min-width: 768px) {
    :root {
      --typescale: 1.25;
    }
  }
  @media (min-width: 1024px) {
    :root {
      --font-size-base: calc(17 / 16 * 100%);
    }
  }
}

/*# sourceMappingURL=doublee-tokens.css.map */
