@use '_functions' as func;

@layer doublee-tokens {
	:root {
		--font-family-body: 'Berkeley Old Style', 'Californian FB', Georgia, serif;
		--font-family-headings: 'Copernicus New Cond', sans-serif;
		--font-family-accent: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
		--font-family-labels: 'Neue Montreal', 'Neue Helvetica', Helvetica, Arial, sans-serif;
		--font-family-code: 'Fira Code', Consolas, system-ui-monospace, monospace;
		--font-weight-light: 300;
		--font-weight-normal: 400;
		--font-weight-medium: 500;
		--font-weight-semibold: 600;
		--font-weight-bold: 700;

		--typescale: 1.2;
		--line-height-base: 1.6;
		--line-height-headings: 1.2;
		--letter-spacing-body: -0.01em;
		--letter-spacing-tight: -0.02em;
		// Note: Set --letter-spacing var to "body" or "normal" at container level and use container style queries
		// to apply tighter spacing selectively based on that,
		// e.g. tighter in <strong> if <p> has "body" --letter-spacing but not in <h2> with "normal" --letter-spacing.

		@media (min-width: 768px) {
			--typescale: 1.25;
		}

		--font-size-base: 1rem;
		@media (min-width: 1024px) {
			// Everything just needs to be a little bigger by default for my typography choices, even after the @font-face adjustments.
			--font-size-base: calc(17 / 16 * 100%);
		}
		--font-size-sm: 0.9rem; // type scale step down would be too small
		--font-size-body: 1rem;
		--font-size-md: #{func.step-up(1)};
		--font-size-lg: #{func.step-up(2)};
		--font-size-xl: #{func.step-up(3)};
		--font-size-xxl: #{func.step-up(4)};
		--font-size-display: #{func.step-up(6)};

		--font-sm: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
		--font-body: var(--font-weight-normal) var(--font-size-body) var(--font-family-body);
		--font-md: var(--font-weight-medium) var(--font-size-md)/var(--line-height-headings) var(--font-family-accent);
		--font-lg: var(--font-weight-semibold) var(--font-size-lg)/var(--line-height-headings) var(--font-family-headings);
		--font-xl: var(--font-weight-semibold) var(--font-size-xl)/var(--line-height-headings) var(--font-family-headings);
		--font-xxl: var(--font-weight-semibold) var(--font-size-xxl)/var(--line-height-headings) var(--font-family-headings);
		--font-display: var(--font-weight-semibold) var(--font-size-display)/var(--line-height-headings) var(--font-family-headings);

		--font-labels: var(--font-weight-medium) var(--font-size-sm) var(--font-family-labels);
		--font-captions: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);

		--spacing-xxs: #{func.step-down(6)};
		--spacing-xs: #{func.step-down(4)};
		--spacing-sm: #{func.step-down(2)};
		--spacing-md: 1rem;
		--spacing-lg: #{func.step-up(2)};
		--spacing-xl: #{func.step-up(4)};
		--spacing-xxl: #{func.step-up(6)};

		--border-radius-sm: var(--spacing-xs);
		--border-radius-md: var(--spacing-sm);
		--border-radius-round: 100px;

		--color-primary: #502595;
		--color-secondary: #845ec2;
		--color-accent: #b01b87;
		--color-info: #24a8e1;
		--color-warning: #ffc75f;
		--color-success: #0abfa0;
		--color-error: #ff775f;
		--color-light: ghostwhite;
		--color-dark: #{func.darken(primary, 60)};
		--color-white: #ffffff;
		--color-body-text: #181825;
		--color-body-text-muted: #{func.mute-color(body-text, 0.2, 0.35)};
	}
}