@use './doublee-tokens.scss';
@use './doublee-prism.scss';

#storybook-explorer-tree {
	button {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-medium);
	}

	.sidebar-subheading {
		button {
			font-weight: var(--font-weight-semibold);
			letter-spacing: inherit;
			text-transform: none;
			font-size: var(--font-size-base);
		}
	}

	.sidebar-item {
		button, a {
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
		}
	}

}